<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui-1.11.1.js"></script>
<body>
  <h1>ドラえもんカルタ</h1>
  <div id="quetioin-area">
    ここに問題が出るよ
  </div>
  <div id="karuta-list">
    <table>
      <tr>
        <td>りんご</td>
        <td>甘酸っぱい</td>
        <td>おおむね赤</td>
      </tr>
      <tr>
        <td>なつみかん</td>
        <td>かなり酸っぱいと思う</td>
        <td>たいてい黄色</td>
      </tr>
    </table>
  </div>
</body>
