<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui-1.11.1.js"></script>
<body>
  <h1>ドラえもんカルタ</h1>
  <center>
    <div id="quetioin-area">
      ここに問題が出るよ
    </div>
  </center>
  <div id="karuta-list">
    <center>
    <table>
      <tr>
        <td><p class="karuta">りんご</p></td>
        <td><p class="karuta">甘酸っぱい</p></td>
        <td><p class="karuta">おおむね赤</p></td>
      </tr>
      <tr>
        <td><p class="karuta">なつみかん</p></td>
        <td><p class="karuta">かなり酸っぱいと思う</p></td>
        <td><p class="karuta">たいてい黄色</p></td>
      </tr>
    </table>
    </center>
  </div>
</body>
