#karuta-list table tr td {
  margin: 0 10px 0;
  box-shadow: 10px 10px 5px #888888;
  background: blue;
}
h1{
    background: blue;
    color: white;
    text-align: center;
}
.quetioin-area{
    text-align: center;
    align:center
}

.karuta {
  color: white;
  padding: 20px;
  width: 250px;
  border: solid 2px #ddd;
}
